<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.htymeleaf.org">
<head>
    <link rel="icon" type="image/png" th:href="@{/roadToAssets/images/DB_16х16.png}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Dashboard Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">


    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">


    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" th:content="@{/roadToAssets/images/touch/ms-touch-icon-144x144-precomposed.png}">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/roadToAssets/css/lib/getmdl-select.min.css}">
    <link rel="stylesheet" th:href="@{/roadToAssets/css/lib/nv.d3.min.css}">
    <link rel="stylesheet" th:href="@{/roadToAssets/css/application.min.css}">
    <!-- endinject -->

</head>

<body>
<div class="mdl-layout mdl-js-layout is-small-screen not-found">
    <main class="mdl-layout__content">
        <div class="mdl-card mdl-card__login mdl-shadow--2dp">
        <div class="mdl-card__supporting-text color--dark-gray">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                    <span class="mdl-card__title-text text-color--smooth-gray">DARKBOARD</span>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                    <span class="text--huge color-text--light-blue">404</span>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                    <span class="text--sorry text-color--white">Sorry, but there's nothing here</span>
                </div>
                <!--<a href="index.html">-->
                <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                    <a href="index.html" class="mdl-button mdl-js-button color-text--light-blue pull-right">
                        Go Back
                    </a>
                </div>
                <!--</a>alignment--bottom-right-->
            </div>
        </div>
    </div>
    </main>
</div>

<!-- inject:js -->
<script th:src="@{/roadToAssets/js/d3.min.js}"></script>
<script th:src="@{/roadToAssets/js/getmdl-select.min.js}"></script>
<script th:src="@{/roadToAssets/js/material.min.js}"></script>
<script th:src="@{/roadToAssets/js/nv.d3.min.js}"></script>
<script th:src="@{/roadToAssets/js/layout/layout.min.js}"></script>
<script th:src="@{/roadToAssets/js/scroll/scroll.min.js}"></script>
<script th:src="@{/roadToAssets/js/widgets/charts/discreteBarChart.min.js}"></script>
<script th:src="@{/roadToAssets/js/widgets/charts/linePlusBarChart.min.js}"></script>
<script th:src="@{/roadToAssets/js/widgets/charts/stackedBarChart.min.js}"></script>
<script th:src="@{/roadToAssets/js/widgets/employer-form/employer-form.min.js}"></script>
<script th:src="@{/roadToAssets/js/widgets/line-chart/line-charts-nvd3.min.js}"></script>
<script th:src="@{/roadToAssets/js/widgets/map/maps.min.js}"></script>
<script th:src="@{/roadToAssets/js/widgets/pie-chart/pie-charts-nvd3.min.js}"></script>
<script th:src="@{/roadToAssets/js/widgets/table/table.min.js}"></script>
<script th:src="@{/roadToAssets/js/widgets/todo/todo.min.js}"></script>
<!-- endinject -->

</body>
</html>